# Explanations are in the README.md

In [11]:
import pandas as pd
import numpy as np

In [2]:
url = "https://en.wikipedia.org/wiki/List_of_S%26P_500_companies"
data = pd.read_html(url)

In [3]:
data[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
497,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
498,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
499,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
500,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
501,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [4]:
data[1]

                  Date  Added                                Removed  \
                  Date Ticker                       Security  Ticker
0      August 25, 2023   KVUE                         Kenvue     AAP
1        June 20, 2023   PANW             Palo Alto Networks    DISH
2          May 4, 2023   AXON                Axon Enterprise     FRC
3       March 20, 2023   FICO                     Fair Isaac    LUMN
4       March 15, 2023     BG                  Bunge Limited    SBNY
..                 ...    ...                            ...     ...
321       June 9, 1999    WLP                      Wellpoint     HPH
322  December 11, 1998    FSR                        Firstar     LDW
323  December 11, 1998    CCL                 Carnival Corp.     GRN
324  December 11, 1998   CPWR                      Compuware     SUN
325      June 17, 1997    CCI  Countrywide Credit Industries     USL

                               \
                     Security
0          Advance Auto Parts
1                Dish Network
2         First Republic Bank
3          Lumen Technologies
4              Signature Bank
..                        ...
321  Harnischfeger Industries
322                     Amoco
323                General Re
324                SunAmerica
325                    USLife

                                                Reason
                                                Reason
0    S&P 500 and S&P 100 constituent Johnson & John...
1                     Market capitalization change.[5]
2    The Federal Deposit Insurance Corporation (FDI...
3                     Market capitalization change.[7]
4    The FDIC placed Signature Bank into FDIC Recei...
..                                                 ...
321           Harnischfeger filed for bankruptcy.[247]
322            British Petroleum purchased Amoco.[248]
323      Berkshire Hathaway purchased General Re.[248]
324                     AIG purchased SunAmerica.[248]
325                          AIG acquired USLife.[249]

[326 rows x 6 columns]

In [5]:
sp500_2023_8 = data[0].iloc[:,[0,1]]
sp500_2023_8.columns = ['Ticker', 'Security']
sp500_2023_8.head()

  Ticker     Security
0    MMM           3M
1    AOS  A. O. Smith
2    ABT       Abbott
3   ABBV       AbbVie
4    ACN    Accenture

In [6]:
sp500_2023_8.to_csv(r'C:\depo\repositories\sp500 r&d based market portfolio\sp500_2023_8.csv')

In [7]:
changes = data[1].iloc[:,[0,1,2,3,4]]
changes.columns = ['date', 'ticker_added', 'security_added', 'ticker_deleted', 'security_deleted']
changes.head()

,date,ticker_added,security_added,ticker_deleted,security_deleted
0,"August 25, 2023",KVUE,Kenvue,AAP,Advance Auto Parts
1,"June 20, 2023",PANW,Palo Alto Networks,DISH,Dish Network
2,"May 4, 2023",AXON,Axon Enterprise,FRC,First Republic Bank
3,"March 20, 2023",FICO,Fair Isaac,LUMN,Lumen Technologies
4,"March 15, 2023",BG,Bunge Limited,SBNY,Signature Bank

In [8]:
changes['date'] = changes['date'].str[-4:]
changes.head()

C:\Users\ragzm\AppData\Local\Temp\ipykernel_11464\2024057511.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  changes['date'] = changes['date'].str[-4:]

   date ticker_added      security_added ticker_deleted     security_deleted
0  2023         KVUE              Kenvue            AAP   Advance Auto Parts
1  2023         PANW  Palo Alto Networks           DISH         Dish Network
2  2023         AXON     Axon Enterprise            FRC  First Republic Bank
3  2023         FICO          Fair Isaac           LUMN   Lumen Technologies
4  2023           BG       Bunge Limited           SBNY       Signature Bank

In [9]:
changes = changes.set_index('date')
changes.head()

     ticker_added      security_added ticker_deleted     security_deleted
date
2023         KVUE              Kenvue            AAP   Advance Auto Parts
2023         PANW  Palo Alto Networks           DISH         Dish Network
2023         AXON     Axon Enterprise            FRC  First Republic Bank
2023         FICO          Fair Isaac           LUMN   Lumen Technologies
2023           BG       Bunge Limited           SBNY       Signature Bank

In [12]:
changes = changes.replace(np.nan, "-----")

In [13]:
changes.loc['2023']

     ticker_added      security_added ticker_deleted      security_deleted
date
2023         KVUE              Kenvue            AAP    Advance Auto Parts
2023         PANW  Palo Alto Networks           DISH          Dish Network
2023         AXON     Axon Enterprise            FRC   First Republic Bank
2023         FICO          Fair Isaac           LUMN    Lumen Technologies
2023           BG       Bunge Limited           SBNY        Signature Bank
2023         PODD             Insulet           SIVB   SVB Financial Group
2023        -----               -----            VNO  Vornado Realty Trust
2023         GEHC       GE HealthCare          -----                 -----

# for 2022end

In [15]:
sp2023_added = changes.loc['2023']
sp2023_added = sp2023_added.iloc[:,[0,1]]
sp2023_added.columns = ['Ticker', 'Security']
sp2023_added

     Ticker            Security
date
2023   KVUE              Kenvue
2023   PANW  Palo Alto Networks
2023   AXON     Axon Enterprise
2023   FICO          Fair Isaac
2023     BG       Bunge Limited
2023   PODD             Insulet
2023  -----               -----
2023   GEHC       GE HealthCare

In [16]:
sp500_2022end = pd.merge(sp500_2023_8, sp2023_added, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge',axis=1)
sp500_2022end

    Ticker              Security
0      MMM                    3M
1      AOS           A. O. Smith
2      ABT                Abbott
3     ABBV                AbbVie
4      ACN             Accenture
..     ...                   ...
497    YUM           Yum! Brands
498   ZBRA    Zebra Technologies
499    ZBH         Zimmer Biomet
500   ZION  Zions Bancorporation
501    ZTS                Zoetis

[495 rows x 2 columns]

In [17]:
sp2023_deleted = changes.loc['2023']
sp2023_deleted = sp2023_deleted.iloc[:,[2,3]]
sp2023_deleted.columns = ['Ticker', 'Security']
sp2023_deleted

     Ticker              Security
date
2023    AAP    Advance Auto Parts
2023   DISH          Dish Network
2023    FRC   First Republic Bank
2023   LUMN    Lumen Technologies
2023   SBNY        Signature Bank
2023   SIVB   SVB Financial Group
2023    VNO  Vornado Realty Trust
2023  -----                 -----

In [18]:
sp500_2022end = pd.concat([sp500_2022end, sp2023_deleted])
sp500_2022end

     Ticker              Security
0       MMM                    3M
1       AOS           A. O. Smith
2       ABT                Abbott
3      ABBV                AbbVie
4       ACN             Accenture
...     ...                   ...
2023   LUMN    Lumen Technologies
2023   SBNY        Signature Bank
2023   SIVB   SVB Financial Group
2023    VNO  Vornado Realty Trust
2023  -----                 -----

[503 rows x 2 columns]

In [19]:
sp500_2022end.to_csv(r'C:\depo\repositories\sp500 r&d based market portfolio\sp500_2022end.csv')

# for 2021end

In [20]:
sp2022_added = changes.loc['2022']
sp2022_added = sp2022_added.iloc[:,[0,1]]
sp2022_added.columns = ['Ticker', 'Security']
sp2022_added

     Ticker               Security
date
2022   STLD         Steel Dynamics
2022   FSLR            First Solar
2022  -----                  -----
2022    MBC            MasterBrand
2022   ACGL     Arch Capital Group
2022   TRGP        Targa Resources
2022    PCG                   PG&E
2022    EQT                    EQT
2022   CSGP           CoStar Group
2022   INVH       Invitation Homes
2022  -----                  -----
2022    KDP       Keurig Dr Pepper
2022     ON       ON Semiconductor
2022   VICI        Vici Properties
2022    CPT  Camden Property Trust
2022    MOH      Molina Healthcare
2022   NDSN    Nordson Corporation
2022  -----                  -----
2022    CEG   Constellation Energy

In [21]:
sp500_2021end = pd.merge(sp500_2022end, sp2022_added, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge',axis=1)
sp500_2021end

    Ticker              Security
0      MMM                    3M
1      AOS           A. O. Smith
2      ABT                Abbott
3     ABBV                AbbVie
4      ACN             Accenture
..     ...                   ...
497    FRC   First Republic Bank
498   LUMN    Lumen Technologies
499   SBNY        Signature Bank
500   SIVB   SVB Financial Group
501    VNO  Vornado Realty Trust

[488 rows x 2 columns]

In [22]:
sp2022_deleted = changes.loc['2022']
sp2022_deleted = sp2022_deleted.iloc[:,[2,3]]
sp2022_deleted.columns = ['Ticker', 'Security']
sp2022_deleted

     Ticker                        Security
date
2022   ABMD                         Abiomed
2022   FBHS  Fortune Brands Home & Security
2022    MBC                     MasterBrand
2022  -----                           -----
2022   TWTR                         Twitter
2022   NLSN                Nielsen Holdings
2022   CTXS                  Citrix Systems
2022    DRE                     Duke Realty
2022    PVH                             PVH
2022   PENN              Penn Entertainment
2022     UA                    Under Armour
2022    UAA                    Under Armour
2022   IPGP                   IPG Photonics
2022   CERN                          Cerner
2022   PBCT       People's United Financial
2022   INFO                      IHS Markit
2022   XLNX                          Xilinx
2022    GPS                        Gap Inc.
2022  -----                           -----

In [23]:
sp500_2021end = pd.concat([sp500_2021end, sp2022_deleted])
sp500_2021end

     Ticker                   Security
0       MMM                         3M
1       AOS                A. O. Smith
2       ABT                     Abbott
3      ABBV                     AbbVie
4       ACN                  Accenture
...     ...                        ...
2022   PBCT  People's United Financial
2022   INFO                 IHS Markit
2022   XLNX                     Xilinx
2022    GPS                   Gap Inc.
2022  -----                      -----

[507 rows x 2 columns]

In [24]:
sp500_2021end.to_csv(r'C:\depo\repositories\sp500 r&d based market portfolio\sp500_2021end.csv')

# 2020 end

In [25]:
sp2021_added = changes.loc['2021']
sp2021_added = sp2021_added.iloc[:,[0,1]]
sp2021_added.columns = ['Ticker', 'Security']
sp2021_added

     Ticker                    Security
date
2021   SBNY              Signature Bank
2021   SEDG                   SolarEdge
2021    FDS                     FactSet
2021   EPAM                EPAM Systems
2021   MTCH                 Match Group
2021   CDAY                    Ceridian
2021    BRO               Brown & Brown
2021   TECH                  Bio-Techne
2021   MRNA                     Moderna
2021  -----                       -----
2021    OGN               Organon & Co.
2021    CRL  Charles River Laboratories
2021    PTC                         PTC
2021   NXPI                         NXP
2021   PENN        Penn National Gaming
2021   GNRC            Generac Holdings
2021    CZR       Caesars Entertainment
2021   MPWR    Monolithic Power Systems
2021   TRMB                 Trimble Inc
2021   ENPH              Enphase Energy

In [26]:
sp500_2020end = pd.merge(sp500_2021end, sp2021_added, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge',axis=1)
sp500_2020end

    Ticker                   Security
0      MMM                         3M
1      AOS                A. O. Smith
2      ABT                     Abbott
3     ABBV                     AbbVie
4      ACN                  Accenture
..     ...                        ...
502   CERN                     Cerner
503   PBCT  People's United Financial
504   INFO                 IHS Markit
505   XLNX                     Xilinx
506    GPS                   Gap Inc.

[491 rows x 2 columns]

In [27]:
sp2021_deleted = changes.loc['2021']
sp2021_deleted = sp2021_deleted.iloc[:,[2,3]]
sp2021_deleted.columns = ['Ticker', 'Security']
sp2021_deleted

     Ticker                 Security
date
2021    LEG          Leggett & Platt
2021    HBI              Hanesbrands
2021     WU            Western Union
2021    KSU     Kansas City Southern
2021   PRGO                  Perrigo
2021    UNM                     Unum
2021    NOV                      Nov
2021   MXIM         Maxim Integrated
2021   ALXN  Alexion Pharmaceuticals
2021    HFC            HollyFrontier
2021  -----                    -----
2021   FLIR             FLIR Systems
2021    VAR   Varian Medical Systems
2021    FLS                Flowserve
2021    SLG          SL Green Realty
2021    XRX                    Xerox
2021    VNT                  Vontier
2021    FTI               TechnipFMC
2021    CXO         Concho Resources
2021    TIF             Tiffany & Co

In [28]:
sp500_2020end = pd.concat([sp500_2020end, sp2021_deleted])
sp500_2020end

     Ticker          Security
0       MMM                3M
1       AOS       A. O. Smith
2       ABT            Abbott
3      ABBV            AbbVie
4       ACN         Accenture
...     ...               ...
2021    XRX             Xerox
2021    VNT           Vontier
2021    FTI        TechnipFMC
2021    CXO  Concho Resources
2021    TIF      Tiffany & Co

[511 rows x 2 columns]

In [29]:
sp500_2020end.to_csv(r'C:\depo\repositories\sp500 r&d based market portfolio\sp500_2020end.csv')

# 2019 end

In [30]:
sp2020_added = changes.loc['2020']
sp2020_added = sp2020_added.iloc[:,[0,1]]
sp2020_added.columns = ['Ticker', 'Security']
sp2020_added

     Ticker                      Security
date
2020   TSLA                     Tesla Inc
2020  -----                         -----
2020    VNT                       Vontier
2020   POOL              Pool Corporation
2020   ETSY                          Etsy
2020    TER                      Teradyne
2020   CTLT                      Catalent
2020    BIO          Bio-Rad Laboratories
2020    TDY                      Teledyne
2020    TYL            Tyler Technologies
2020    WST  West Pharmaceutical Services
2020    DPZ                Domino's Pizza
2020   DXCM                        Dexcom
2020  -----                         -----
2020  -----                         -----
2020   OTIS                Otis Worldwide
2020   CARR                       Carrier
2020    HWM              Howmet Aerospace
2020     IR                Ingersoll Rand
2020   PAYC                        Paycom

In [31]:
sp500_2019end = pd.merge(sp500_2020end, sp2020_added, indicator=True, how='outer').query('_merge=="left_only"').drop('_merge',axis=1)
sp500_2019end

    Ticker          Security
0      MMM                3M
1      AOS       A. O. Smith
2      ABT            Abbott
3     ABBV            AbbVie
4      ACN         Accenture
..     ...               ...
507    SLG   SL Green Realty
508    XRX             Xerox
510    FTI        TechnipFMC
511    CXO  Concho Resources
512    TIF      Tiffany & Co

[498 rows x 2 columns]

In [32]:
sp2020_deleted = changes.loc['2020']
sp2020_deleted = sp2020_deleted.iloc[:,[2,3]]
sp2020_deleted.columns = ['Ticker', 'Security']
sp2020_deleted

     Ticker                           Security
date
2020    AIV  Apartment Investment & Management
2020    NBL                       Noble Energy
2020  -----                              -----
2020   ETFC                            E-Trade
2020    HRB                          H&R Block
2020   COTY                               Coty
2020    KSS                             Kohl's
2020    ADS              Alliance Data Systems
2020    HOG                    Harley-Davidson
2020    JWN                          Nordstrom
2020     HP                  Helmerich & Payne
2020   CPRI                     Capri Holdings
2020    AGN                           Allergan
2020      M                             Macy's
2020    RTN                   Raytheon Company
2020  -----                              -----
2020  -----                              -----
2020   ARNC                            Arconic
2020    XEC                     Cimarex Energy
2020    WCG                           WellCare

In [33]:
sp500_2019end = pd.concat([sp500_2019end, sp2020_deleted])
sp500_2019end

     Ticker        Security
0       MMM              3M
1       AOS     A. O. Smith
2       ABT          Abbott
3      ABBV          AbbVie
4       ACN       Accenture
...     ...             ...
2020  -----           -----
2020  -----           -----
2020   ARNC         Arconic
2020    XEC  Cimarex Energy
2020    WCG        WellCare

[518 rows x 2 columns]

In [34]:
sp500_2019end.to_csv(r'C:\depo\repositories\sp500 r&d based market portfolio\sp500_2019end.csv')